.item {
  padding: 10px 5px;
} 
.item .card {
  width: 16rem;
  position: relative;
}

.item button:first-of-type {
  margin-right: 10px;
}

.item .card-text {
  min-height: 70px;
  max-height: 70px;
  height: 70px;
  overflow: hidden;
}
